.main_div_footer {
    color: white;
    position: absolute;
    font-family: "Rubik";
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 100px;
}

.logo_div_footer {
    display: flex;
    justify-content: center;
}

.logo_div_footer svg {
    padding: 10px;
    height: 20px;
    fill: var(--accent-color);
}

.links_div_footer {
    display: flex;
    justify-content: center;
}

.links_div_footer a {
    padding: 10px;
}

.separator_div_footer {
    border-color: var(--accent-color);
    width: 50%;
}

.main_copyrights_div_footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.main_copyrights_div_footer h4 {
    font-weight: 600;
}

.dash_copyrights_footer {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--accent-color);
}

.main_div_header img {
    z-index: 2;
    width: 100%;
    margin-bottom: 100px;

}


.main_div_header {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.main_div_header img {
    z-index: 2;
    width: 600px;
    margin-top: -400px;
    filter: drop-shadow(0px 0px 5px rgb(35, 35, 35));

}

@media (max-width: 600px) {
    .main_div_header img {
        width: 100%; /* Adjust the width for smaller screens */
        margin-top: -200px; /* Adjust the margin for overlap on smaller screens */
    }
    .main_div_header h1 {
        position: relative;
        z-index: 1; /* Lower z-index for the h1 */
        color: var(--text-alt-color);
        font-family: "Rubik";
        font-weight: bolder;
        text-align: center;
        width: 300px;
    }
}

.main_div_header h1 {
    position: relative;
    z-index: 1; /* Lower z-index for the h1 */
    color: var(--text-alt-color);
    font-family: "Rubik";
    text-align: center;
    width: 600px;
    font-size: 100px;
}




.dot1_header {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px), radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 15px 15px;
    background-position: 0 0, 7.5px 7.5px;
    z-index: 2;
}

.logo_div_navbar img {
    height: 30px;
    background-color: white;
}

.main_div_navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    position: fixed; /* Use fixed instead of absolute for a fixed navbar */
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Adjust the z-index as needed */
    width: 100%;
}

.links_div_navbar a {
    padding: 10px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.button_div_navbar button {
    border: none;
    margin-top: 4px;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--accent-color);
    margin-left: 10px;
}

.button_div_navbar a {
    text-decoration: none;
    color: black;
    font-family: 'Rubik';
    font-weight: bold;

}

.button_div_navbar a:hover {
    text-decoration: none;
    color: black;

}

.right_div_navbar {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

/* Active class a faire pour la page actuelle */

a:hover {
    text-decoration: none;
    color: var(--accent-color);
}