/* Footer Styles */
.main_div_footer {
    color: white;
    position: fixed;
    font-family: "Rubik";
    /* bottom: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 400px; /* Adjust margin as needed */
}

.logo_div_footer {
    display: flex;
    justify-content: center;
}

.logo_div_footer svg {
    padding: 10px;
    height: 20px;
    fill: var(--accent-color);
}

.links_div_footer {
    display: flex;
    justify-content: center;
}

.links_div_footer a {
    padding: 10px;
}

.separator_div_footer {
    border-color: var(--accent-color);
    width: 50%;
}

.main_copyrights_div_footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.main_copyrights_div_footer h4 {
    font-weight: 600;
    margin-top: 0px;
}

/* Responsive Footer for Small Screens */
@media (max-width: 600px) {
    .main_div_footer {
        margin-top: 0; /* Adjust margin for smaller screens */
    }

    .main_copyrights_div_footer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .main_copyrights_div_footer h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .links_div_navbar {
        display: none;
    }

    .button_menu_navbar svg {
        fill: white;
        padding-top: 5px;
        display: block;
        visibility: visible;
    }
}

/* Header Styles */
.main_div_header {
    position: fixed;
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    text-align: justify ;

}


/* Responsive Header for Small Screens */
@media (max-width: 600px) {
    .main_div_header img {
        width: 100%;
        margin-top: -200px;
    }

    .main_div_header h1 {
        position: relative;
        z-index: 1;
        color: var(--text-alt-color);
        font-family: "Rubik";
        font-weight: bolder;
        text-align: center;
        width: 100%;
    }

    .main_copyrights_div_footer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .main_copyrights_div_footer h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .links_div_navbar {
        display: none;
    }

    .button_menu_navbar svg {
        fill: white;
        padding-top: 5px;
        display: block;
        visibility: visible;
    }
}

.main_div_header h1 {
    position: relative;
    z-index: 1;
    color: #c4c4c4;
    font-family: "Rubik";
    text-align: left;
    width: 100%;
    font-size: 30px;
}


.logo_div_navbar svg {
    height: 20%;
    margin-top : 10px;
    
}

.main_div_navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background: var(--background-color);
}

.links_div_navbar a {
    padding: 10px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.button_div_navbar button {
    border: none;
    margin-top: 4px;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--accent-color);
    margin-left: 10px;
}

.button_div_navbar a {
    text-decoration: none;
    color: black;
    font-family: 'Rubik';
    font-weight: bold;
}

.button_div_navbar a:hover {
    text-decoration: none;
    color: black;
}

.right_div_navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
}

/* Active class styling for links on hover */
a:hover {
    text-decoration: none;
    color: var(--accent-color);
}

/* Hamburger menu button styles */
.vbp-header-menu-button__svg {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
    transform: scaleX(-1);
    display: none;
}

.vbp-header-menu-button__svg line {
    stroke: #ffffff;
    stroke-dasharray: 100%;
    stroke-dashoffset: 0%;
    transition: transform 0.3s, stroke-dashoffset .4s;
    transform-origin: center;
    stroke-width: 3px;
}

.vbp-header-menu-button__svg .top {
    transform: translateY(-35%);
}

.vbp-header-menu-button__svg .middle {
    transform: scaleX(1);
    transition: opacity .3s, transform .3s;
}

.vbp-header-menu-button__svg .bottom {
    transform: translateY(33%);
    stroke-dasharray: 100%;
    stroke-dashoffset: 9px;
}

.vbp-header-menu-button__svg:hover .bottom {
    stroke-dashoffset: 0%;
}

/* Cross Mode */
body.menu-open .vbp-header-menu-button__svg .top {
    transform: rotate(45deg);
    stroke-linecap: round;
}

body.menu-open .vbp-header-menu-button__svg .middle {
    transform: scaleX(0.1);
    opacity: 0;
}

body.menu-open .vbp-header-menu-button__svg line.bottom {
    transform: rotate(-45deg);
    stroke-linecap: round;
}

body.menu-open .vbp-header-menu-button__svg .bottom {
    stroke-dashoffset: 0%;
}
  
.overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: white;
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 0.5s ease; /* Add a smooth transition effect */
}

.overlay-menu.show {
    opacity: 1; /* Change opacity to 1 when the 'show' class is applied */
}

.overlay-menu a {
    margin: 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.overlay-link:hover {
    color: var(--accent-color);
    transform: scale(1.1, 1.1); /* Adjust the scaling factor as needed */
    transition: 0.3s;
}



.main_div_about {
    position: relative;
    display: flex;
    align-items: start;
    padding-left: 10% ;
    flex-direction: column;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

.div_content_about {
    width: 90%;
    text-align: justify;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100%;
}

.div_background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.content-on-top {
    position: relative;
    z-index: 1;
}

  #red {
    fill: none;
    opacity: 0.15;
    stroke: var(--accent-color);
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
  }
  
  #blue {
    fill: none;
    opacity: 0.15;
    stroke: #ffffff;
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  #light-blue {
    fill: none;
    opacity: 0.15;
    stroke: #06A1C4;
    stroke-width: 6;
    stroke-miterlimit:10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
   }
      }
  
  @keyframes show {
    0% {
      opacity: 0.15;
   }
    50% {
      opacity: 0.2;
   }
    100% {
      opacity: 0.15;
   }
      }
  
.div_skills svg {
    width: 100px;
}
    

.div_skills {
    width: 70vh;
}

