@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800&display=swap');


.App {
  --lightblue : #A9CEF4;
  --darkerblue : #36494E;
  --black : #000000;
  --lighterblue : #7EA0B7;
  --softdarkerblue : #597081;
  background: var(--black);
  color: white;
  font-family: "Rubik";
}



.main-div-footer {
  background-color: var(--darkerblue);
  color: #fff;
  font-family: "Rubik";
}

.logo-div-footer {
  display: flex;
  justify-content: center;
}

.logo-div-footer img{
  padding: 10px;
}

.links-div-footer {
  display: flex;
  justify-content: center;
}

.links-div-footer a{
  padding: 10px;
}

.copyrights-div-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--softdarkerblue);
}

.logo-div-navbar img{
  height: 30px;
}

.main-div-navbar {
  background-color: var(--lighterblue);
  display: flex;
  justify-content: space-around;
}

.links-div-navbar a {
  padding: 10px;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}


.main-div-header img {
  z-index: 2;
  visibility: hidden;
  margin-bottom: 100px;
  
}

.main-div-header h1 {
  text-align: center;
  z-index: 0;
  position:relative
}

.main-div-header {

}

.first-h1-header {
  font: 200;
}

.second-h1-header {
  
}

.button-div-navbar button{
 
  background-color: var(--darkerblue);
}

.button-div-navbar a{
  text-decoration: none;
  background-color: var(--darkerblue);
}