.App {
  --lightblue : #A9CEF4;
  --darkerblue : #36494E;
  --black : #000000;
  --lighterblue : #7EA0B7;
  --softdarkerblue : #597081;

}



.main-div-footer {
  background-color: var(--darkerblue);
  color: #fff;
}

.logo-div-footer {
  display: flex;
  justify-content: center;
}

.logo-div-footer img{
  padding: 10px;
}

.links-div-footer {
  display: flex;
  justify-content: center;
}

.links-div-footer a{
  padding: 10px;
}

.copyrights-div-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--softdarkerblue);
}

.logo-div-navbar img{
  height: 30px;
}

.main-div-navbar {
  background-color: var(--lighterblue);
  display: flex;
  justify-content: space-around;
}

.links-div-navbar a {
  padding: 10px;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}