body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --lightblue : #A9CEF4;
  --darkerblue : #36494E;
  --black : #000000;
  --lighterblue : #7EA0B7;
  --softdarkerblue : #597081;

  --background-color : #0b0f1c;
  --accent-color : #a6f634;
  --text-alt-color : #222326;

  background: var(--background-color);
  color: white;
  font-family: "Rubik";
}



@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800&display=swap');


